/ {
    macros {
        eszett_macro: eszett_macro {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = < &kp LALT &kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N3 >;
        };

        ue_macro: ue_macro {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = < &kp LALT &kp KP_N0 &kp KP_N2 &kp KP_N5 &kp KP_N2 >;
        };

        ue_upper_macro: ue_upper_macro {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = < &kp LALT &kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N0 >;
        };

        oe_macro: oe_macro {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = < &kp LALT &kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N6 >;
        };

        oe_upper_macro: oe_upper_macro {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = < &kp LALT &kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N4 >;
        };

        ae_macro: ae_macro {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = < &kp LALT &kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N8 >;
        };

        ae_upper_macro: ae_upper_macro {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = < &kp LALT &kp KP_N0 &kp KP_N1 &kp KP_N4 &kp KP_N2 >;
        };

        degree_macro: degree_macro {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = < &kp LALT &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N6 >;
        };

        tilde_macro: tilde_macro {
            compatible = "zmk,behavior-macro";
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = < &kp LALT &kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N6 >;
        };
    };
};
